<script>
function handleEnableDisable(itemId) {
    var currentValue = parseInt($(`.qty_input[data-item_id="${itemId}"]`).val());
    var minusDisabled = currentValue < 2;
    var plusDisabled = currentValue > 98;
    $(`.decrement-qty[data-item_id="${itemId}"]`).prop('disabled', minusDisabled);
    $(`.increment-qty[data-item_id="${itemId}"]`).prop('disabled', plusDisabled);
}

$('.qty_input').change(function() {
    var itemId = $(this).data('item_id');
    handleEnableDisable(itemId);
});

$('.increment-qty').click(function(e) {
    e.preventDefault();
    var itemId = $(this).data('item_id');
    var closestInput = $(`.qty_input[data-item_id="${itemId}"]`);
    var currentValue = parseInt(closestInput.val());
    closestInput.val(currentValue + 1);
    handleEnableDisable(itemId);
});

$('.decrement-qty').click(function(e) {
    e.preventDefault();
    var itemId = $(this).data('item_id');
    var closestInput = $(`.qty_input[data-item_id="${itemId}"]`);
    var currentValue = parseInt(closestInput.val());
    closestInput.val(currentValue - 1);
    handleEnableDisable(itemId);
});

// Initial enable/disable for all quantity inputs
$('.qty_input').each(function() {
    var itemId = $(this).data('item_id');
    handleEnableDisable(itemId);
});


</script>