<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mx-auto w-aut0">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Books </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a class="dropdown-item" href="">Fiction</a>
                <a class="dropdown-item" href="">Non-Fiction</a>
                <a class="dropdown-item" href="">Children and Teens</a>
                <a class="dropdown-item" href="">Zines</a>
                <a class="dropdown-item" href="{% url 'products' %}">All Books</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a class="dropdown-item" href="">Our Story</a>
                <a class="dropdown-item" href="">Our Team</a>
                <a class="dropdown-item" href="">Our Location</a>
                <a class="dropdown-item" href="">Get in Touch</a>
            </div>
        </li>


    </ul>
</div>