<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mx-auto w-aut0">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Books </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a class="dropdown-item" href="{% url 'products' %}?category=fiction">Fiction</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=non_fiction">Non-Fiction</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=children_and_teens">Children and Teens</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=fiction,non_fiction,children_and_teens">All Books</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a class="dropdown-item" href="">Our Story</a>
                <a class="dropdown-item" href="">Our Team</a>
                <a class="dropdown-item" href="">Our Location</a>
                <a class="dropdown-item" href="">Get in Touch</a>
            </div>
        </li>


    </ul>
</div>