{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="overlay"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-4 text-center">
            <h2 class="logo-font mb-4 ml-4 text-center mt-5">Meet Our Team</h2>
            <hr>
        </div>
    </div>

    
    <div class="row">
        {% for member in team_members %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 text-center">
            
            <div class="card m-4 p-2" style="width: 18rem;">
                {% if member.profile_picture %}
                    <img class="card-img-top img-fluid" src="{{ member.profile_picture.url }}" alt="{{ member.name }}">
                    {% else %}
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ member.name }}">
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{ member.name }} | {{ member.position }}</h5>
                  <p class="card-text">{{ member.bio }}</p>
                  {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_team_member' member.id %}">
                    <button>Edit</button> 
                    </a> |
                    <a class="text-danger" href="{% url 'delete_team_member' member.id %}">Delete</a>
                </small>
                {% endif %}
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
    
</div>
{% endblock %}

